---

---

<div class="card text-center">
    <div class="text-4xl mb-4 block">
        <slot name="icon" />
    </div>
    <h3 class="mb-4 text-[var(--color-text)]">
        <slot name="title" />
    </h3>
    <p>
        <slot name="description" />
    </p>
</div>