---
import NavbarLink from './NavbarLink.astro';
---

<header class="sticky mb-10 md:mb-24 top-0 z-50 border-b border-accent bg-black/40 backdrop-blur-md">
    <div class="max-w-7xl mx-auto px-6">    
      <div class="flex flex-col md:flex-row gap-2 items-center justify-between py-4 md:py-6">
        <a href="/" class="text-xl font-bold text-white hover:text-accent ">
          <img src="/kool-codez-text.svg" alt="Kool Codez" class="w-[200px] hover:opacity-90" />
        </a>
        <nav class="flex gap-4 md:gap-8 items-center">
            <NavbarLink href="/">Home</NavbarLink>
            <NavbarLink href="/blog">Blog</NavbarLink>
            <NavbarLink href="/about">About</NavbarLink>
        </nav>
      </div>
</div>
  </header>
  
  