---
import GithubIcon from '../icons/GithubIcon.astro';

export type Props = {
	repoUrl: string;
};

const { repoUrl } = Astro.props;
---

<a href={repoUrl} target="_blank" rel="noopener noreferrer" class="group max-w-lg bg-white/5 rounded-lg min-h-44 liquid-glass-border transition-shadow duration-200 hover:shadow shadow-accent/90">
	<div class="md:p-6 p-4 flex flex-col gap-4 justify-between h-full">
		<!-- Header -->
		<div>
			<div class="flex items-center justify-between pb-4">
				<h3 class="text-sm text-white flex items-center gap-2 shrink-0">
					<GithubIcon />
					<slot name="title" />
				</h3>
				<span class="px-2 py-1 text-xs font-family-mono text-white border border-white/10 rounded">
					<slot name="language" />
				</span>
			</div>

			<!-- Description -->
			<div class="leading-relaxed pt-2">
				<slot name="description" />
			</div>
		</div>
	</div>
</a>