---
import { isActivePath } from '../utils';

type Props = {
    href: string;
};

const { href } = Astro.props;
const currentPath = Astro.url.pathname;
const isActive = isActivePath(currentPath, href);
---

<a href={href} class={`font-medium transition-colors duration-150 ${isActive ? 'text-accent' : 'text-white hover:text-accent'}`}>
    <slot />
</a>
